

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-color: #000;

}


.main-container {
    display: grid;
    align-items: center;
    padding: 126px 76px;
    justify-content: center;

}

.main-container .unit-converter__container {
    display: flex;
    flex-direction: column;
}

.unit-converter__container .unit-converter__top {
    background-color: #6943FF;
    padding: 34px 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.unit-converter__container .unit-converter__top h1 {
    color: #fff;
    font-family: Inter;
    font-size: 28px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: -0.03em;
    margin-bottom: 30px;
}

.unit-converter__container .unit-converter__top input {
    border: 2px solid #eee;
    border-radius: 5px;
    padding: 15px;
    color: #fff;
    font-size: 3.625rem;
    width: 117px;
    text-align: center;
    background-color: transparent;
}

.unit-converter__container .unit-converter__top button {
    padding: 9px 27.5px;
    border-radius:  5px;
    margin-top: 27px;
    border: 1px solid #fff;
}




/**** Bottom ****/

.unit-converter__container .unit-converter__bottom {
    padding: 36px 25px;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    gap: 20px;
  

}


.unit-converter__container .unit-converter__bottom .unit-converter__display-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius:  4.68px;
    padding: 31px 77px 19px 77px;
}


.unit-converter__container .unit-converter__bottom .unit-converter__display-box h4 {
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 9px;

}

.unit-converter__container .unit-converter__bottom .unit-converter__display-box .unit-converter__display-numbers {
    display: flex;
    flex-direction: row;

}



